@media only screen and (max-width: 1000px) {
    .pengantar{
        font-size:4vw !important;
    }
    .soal{
        font-size:7vw !important;
    }
    .tombol{
        font-size:5vw !important;
    }
}

@media only screen and (max-width: 600px) {
    .jwbn{
        font-size:2.3vw !important;
    }
}

body{
    background-color: #fbb523;
}

.bg-jumbotron{
    width:100%;
    position: absolute;
}

.icon-jumbotron{
    width:100%;
}
.pengantar{
    text-align : justify !important;
}

.tombol{
    font-size:2vw;
}

.jwbn{
    font-weight: bold;
}